services:
  app:
    image: ${DOCKER_USERNAME}/wsd-assignment2:latest
    container_name: wsd-app-prod
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: mysql:8.0
    container_name: wsd-db-prod
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3306:3306"
    volumes:
      - db_data_prod:/var/lib/mysql

  redis:
    image: redis:alpine
    container_name: wsd-redis-prod
    restart: always
    ports:
      - "6379:6379"

volumes:
  db_data_prod:
