services:
  app:
    build: .
    container_name: wsd-app
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=local
      - DB_HOST=db
      - DB_PORT=3306
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - db
      - redis

  db:
    image: mysql:8.0
    container_name: wsd-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wsd_assignment2
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  redis:
    image: redis:alpine
    container_name: wsd-redis
    ports:
      - "6379:6379"

volumes:
  db_data:
